*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    padding: 0;
    margin: 0;
}


/* html {
    font-size: 16px;
} */

@font-face {
    font-family: "Satoshi";
    src: url('../Fonts/OTF/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url('../Fonts/OTF/Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url('../Fonts/OTF/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url('../Fonts/OTF/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url('../Fonts/OTF/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-display: swap;
}

  
html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Satoshi" !important;
    font-weight: var(--regular);
}  

:root {
  --primary: #EE3324;
  --black: #1e1e1e;
  --text:#121212;
  --whitegray:#f0f0f0;
  --white: #fff;
  --boldblack: 900;
  --bold: 700;
  --medium:500;
  --regular: 400;
  --light: 300;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Satoshi';
    font-weight: 400;
    box-sizing: border-box;
    overflow-x: hidden;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

p {
    line-height: 1.6;
    color: var(--text);
    font-size: 16px;
}

.inverse {
    color: #fff !important;
}


.primary-btn {
    display: inline-block;
    padding:0.60rem 2rem;
    background-color:transparent;
    color: var(--black);
    border-radius: 2rem;
    transition: all 0.3s;
    font-weight: var(--medium);
    border: 1px solid var(--black);
    font-size: 1rem;
}

.primary-btn:hover {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}


.primary-btn-inv {
    display: inline-block;
    padding:0.60rem 2rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 2rem;
    transition: all 0.3s;
    font-weight: var(--medium);
    border: 1px solid var(--black);
    font-size: 1rem;
}

.primary-btn-inv:hover {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}


.btn-holder {
    margin-top: 2rem;
}

.page-section {
    padding: 7rem 0px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: var(--bold);
    color: var(--black);
    margin-bottom: 1rem;
}

.owl-dot span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 1.25rem;
    background-color: #DFDDDD;
    margin: 0.25rem;
}

.owl-dot.active span {
    background-color: var(--primary)
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -3rem;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: unset;
        width: 100%;
        padding: 0px 2rem;
    }
    html {
        font-size: 15px;
    }
}

@media(max-width:992px) {
    html {
        font-size: 14px;
    }
    .page-section{
        padding: 3.75rem 0px;
    }
    .section-title {
        font-size:30px;
        text-align: center;
    }
    .ctaBlock {
        padding: 4rem;
    }
}

@media screen and (max-width:767px) {

    .page-section {
        padding: 3rem 0px;
    }
    
    .col-inv{
        display: flex;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width:680px) {
  
   
    .container {
        padding: 0px 1.5rem;
    }
    .owl-dot span {
        width: 10px;
        height: 10px;
    }
}